dfdl-parser/schemas/CDE_ROD.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    
  
  <xsd:include schemaLocation="CDE_Common.xsd"/>
        
  
  <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="RecordSeparatedFieldFormat.xsd"/>
            
  
  <xsd:complexType name="TYPE_ROD">
            
    
    <xsd:sequence dfdl:separator="+ %#29; or %#x1d; or %HT;">
                              
      
      <xsd:element ref="SegmentId">
                        
        
        <xsd:annotation>
                              
          
          <xsd:appinfo source="http://www.ogf.org/dfdl/">
                                    
            
            <dfdl:discriminator message="ROD required">{.eq "ROD"}</dfdl:discriminator>
                                  
          
          </xsd:appinfo>
                            
        
        </xsd:annotation>
                      
      
      </xsd:element>
                        
      
      <xsd:element name="EL9830_SeatRowNumber" type="TYPE_EL9830">
                  </xsd:element>
                                                                  
      
      <xsd:element minOccurs="0" name="C049" type="TYPE_C049">
                  </xsd:element>
                                                                  
      
      <xsd:element maxOccurs="99" minOccurs="0" name="C051" type="TYPE_C051"/>
                                                                
    
    </xsd:sequence>
          
  
  </xsd:complexType>
        
  
  <xsd:annotation>
        		
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
            			
      
      <dfdl:format encoding="IBM037" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
            		
    
    </xsd:appinfo>
        	
  
  </xsd:annotation>
    	
  
  <xsd:element dfdl:terminator="' %#28; or %#x1c; or %BS;" ibmSchExtn:docRoot="true" name="ROD" type="TYPE_ROD">
			</xsd:element>
    

</xsd:schema>
