dfdl-parser/schemas/CDE_ERD.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
                <xsd:include schemaLocation="CDE_Common.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="RecordSeparatedFieldFormat.xsd"/>
        <xsd:complexType name="TYPE_ERD">
    <xsd:sequence dfdl:separator="+ %#29; or %#x1d; or %HT;">
                  <xsd:element ref="SegmentId">
        <xsd:annotation>
          <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator message="ERD required">{.eq "ERD"}</dfdl:discriminator>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
            <xsd:element maxOccurs="10" name="C056" type="TYPE_C056"/>
                        </xsd:sequence>
  </xsd:complexType>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="IBM037" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:terminator="' %#28; or %#x1c; or %BS;" ibmSchExtn:docRoot="true" name="ERD" type="TYPE_ERD">
			</xsd:element>

</xsd:schema>