dfdl-parser/schemas/CDE_CVR_13_1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="RecordSeparatedFieldFormat.xsd"/>

	<xsd:include schemaLocation="CDE_Common.xsd"/>

    	<xsd:element dfdl:terminator="' %#28; or %#x1c;" ibmSchExtn:docRoot="true" name="CVR" type="TYPE_CVR"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format byteOrder="bigEndian" encoding="IBM037" escapeSchemeRef="recSepFieldsFmt:RecordEscapeScheme" occursCountKind="fixed" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

		<xsd:complexType name="TYPE_CVR">
		<xsd:sequence dfdl:separator="+ %#29; or %#x1d;">
			<xsd:element maxOccurs="1" minOccurs="1" ref="SegmentId">
				<xsd:annotation>
					<xsd:appinfo source="http://www.ogf.org/dfdl/">
						<dfdl:discriminator message="CVR required">{. eq "CVR"}
						</dfdl:discriminator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			            			            		<xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" minOccurs="0" name="C661a" type="TYPE_C661"/>
            <xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" maxOccurs="19" minOccurs="0" name="C661b" type="TYPE_C661"/>
        </xsd:sequence>
	</xsd:complexType>

		
	<xsd:complexType name="TYPE_C661">
		<xsd:sequence dfdl:separator=": %#31; or %#x1f;">
			            			<xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" minOccurs="0" name="EL9875">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
                                    			                        			<xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" minOccurs="0" name="EL6345" type="TYPE_EL6345"/>
            <xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" minOccurs="0" name="EL5419">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
                        			<xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" dfdl:textNumberPattern="#0" minOccurs="0" name="EL5004a" type="TYPE_EL5004"/>
            			<xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" dfdl:textNumberPattern="#0" minOccurs="0" name="EL5004b" type="TYPE_EL5004"/>
            			<xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" minOccurs="0" name="EL5153" type="TYPE_EL5153"/>
            			            		<xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" dfdl:textNumberPattern="#0" minOccurs="0" name="EL6314" type="TYPE_EL6314"/>
            <xsd:element dfdl:occursCountKind="implicit" dfdl:representation="text" minOccurs="0" name="EL6321">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
        </xsd:sequence>
	</xsd:complexType>

	
	
	
	

	
	

</xsd:schema>