dfdl-parser/schemas/CDE_UNZ_13_1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  	
  <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="RecordSeparatedFieldFormat.xsd"/>
  	
  <xsd:include schemaLocation="CDE_Common.xsd"/>
      		
  <xsd:element dfdl:terminator="' %#28; or %#x1c; or %BS;" ibmSchExtn:docRoot="true" name="UNZ" type="TYPE_UNZ"/>
      
  <xsd:complexType name="TYPE_UNZ">
    		
    <xsd:sequence dfdl:separator="+ %#29; or %#x1d; or %HT;">
      			
      <xsd:element maxOccurs="1" minOccurs="1" ref="SegmentId">
        				
        <xsd:annotation>
          					
          <xsd:appinfo source="http://www.ogf.org/dfdl/">
            						
            <dfdl:discriminator message="UNZ required">{. eq "UNZ"}
						</dfdl:discriminator>
            					
          </xsd:appinfo>
          				
        </xsd:annotation>
        			
      </xsd:element>
              	
      <xsd:element dfdl:textNumberPattern="#0" name="EL0036" type="xsd:string">
              		</xsd:element>
            		
      <xsd:element dfdl:representation="text" name="EL0020" type="TYPE_EL0020"/>
                                  
    </xsd:sequence>
    	
  </xsd:complexType>
  		 
	
  <xsd:annotation>
    		
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
      			
      <dfdl:format byteOrder="bigEndian" encoding="IBM037" escapeSchemeRef="recSepFieldsFmt:RecordEscapeScheme" occursCountKind="fixed" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
      		
    </xsd:appinfo>
    	
  </xsd:annotation>
  		

</xsd:schema>
