dfdl-parser/schemas/CDE_LOR.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
	<xsd:include schemaLocation="CDE_Common.xsd"/>
	<xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="RecordSeparatedFieldFormat.xsd"/>
	<xsd:complexType name="TYPE_LOR">
		<xsd:sequence dfdl:separator="+ %#29; or %#x1d; or %HT;">
			<xsd:element ref="SegmentId">
				<xsd:annotation>
					<xsd:appinfo source="http://www.ogf.org/dfdl/">
						<dfdl:discriminator message="LOR required">{. eq "LOR"}</dfdl:discriminator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="C059" type="TYPE_C059"/>
			<xsd:element minOccurs="0" name="C012" type="TYPE_C012"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="IBM037" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element dfdl:terminator="' %#28; or %#x1c; or %BS;" ibmSchExtn:docRoot="true" name="LOR" type="TYPE_LOR">
			</xsd:element>
</xsd:schema>