dfdl-parser/schemas/CDE_EQI_BLOB.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                          
  
  
  
  
  <xsd:include schemaLocation="CDE_Common.xsd"/>
              
  
  
  
  
  <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="RecordSeparatedFieldFormat.xsd"/>
                  
  
  
  
  
  <xsd:complexType name="TYPE_EQI_BLOB">
                        
    
    
    
    
    <xsd:sequence dfdl:separator="+ %#29; or ` %#29;">
                                    
      
      
      
      
      <xsd:element ibmDfdlExtn:sampleValue="EQI" ref="SegmentId">
                                                
        
        
        
        
        <xsd:annotation>
                                                            
          
          
          
          
          <xsd:appinfo source="http://www.ogf.org/dfdl/">
                                                                        
            
            
            
            
            <dfdl:discriminator message="EQI required">{.eq "EQI"}</dfdl:discriminator>
                                                                      
          
          
          
          
          </xsd:appinfo>
                                                          
        
        
        
        
        </xsd:annotation>
                                              
      
      
      
      
      </xsd:element>
                                    
            
                        
            
                        
            
      
      <xsd:element maxOccurs="5" minOccurs="0" name="FILLER" type="xsd:hexBinary"/>
                        
      
      <xsd:element ibmDfdlExtn:sampleValue="777" maxOccurs="999" minOccurs="0" name="Blob" type="xsd:string"/>
                                  
        
                        
        
    
    </xsd:sequence>
                      
  
  
  
  
  </xsd:complexType>
              
  
  
  
  
  <xsd:annotation>
                    		
    
    
    
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                              			
      
      
      
      
      <dfdl:format encoding="IBM037" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
                              		
    
    
    
    
    </xsd:appinfo>
                    	
  
  
  
  
  </xsd:annotation>
          	
  
  
  
  
  <xsd:element dfdl:terminator="' %#28; or %#x1c;" ibmSchExtn:docRoot="true" name="EQI_BLOB" type="TYPE_EQI_BLOB">
			</xsd:element>
          




</xsd:schema>
